%h1 Let's track some stuff

%h2 About
%p This app is built to manage dynamic inventory. Each section is designed to provide access to the inventory at different amounts. From All the inventory, down to a specific serial Number.

%h2 Inventory Views

%h3 Bundles
%p Think of Bundles as very categories. Examples TV, Hard Drive, Laptop. This way you can view all of inventory based on the group.

%h3 Items
%p groups are a collection of bundled inventory. For example 27" monitors. 
You can add multiple items at once. 

%h3 Serial Numbers
%p Each item that is trackable will have a serial number associated with it. 

%h2 Inventory to User
%hr
%p Inventory is handed to a user through a Checkout. At Checkout you can make specific notes about an item. 
%p Note, a user can also be a location like the 'game room'