.container
  = image_tag "logo2.png", class: "m-home-logo"

  %h1 Let's track your stuff!
  %p Manage inventory and the people using the inventory.

  %h2 3 ways to view your inventory
  %p Depending on the amount of inventory you need to manage at one time, you can view it at three different levels...

  %h3 Birdseye: Bundles

  %p Think of Bundles as very categories. Examples TV, Hard Drive, Laptop. This way you can view all of inventory based on the group.

  %h3 Group: Assets
  %p groups are a collection of bundled inventory. For example 27" monitors.
  You can add multiple assets at once.

  %h3 Specific Item: Serial Numbers

  %p Each item that is trackable will have a serial number associated with it.

  %h2 Checkout inventory
  %p
  Inventory is assigned to users through Checkouts.

