.container
  = image_tag "logo2.png", class: "m-home-logo"

  %p Manage your precious inventory!

  %h1 About Dave Woodall

  = image_tag "dave_bio.jpg", class: 'dave-bio'
  %p Hey there!
  %p
    I've been building Trakit for the past 2 months. It's a Ruby on Rails app that is tested with
    %br
    cucumber and RSpec.

  .btn-links= link_to "hireDave.me", "http://www.hiredave.me"

  .welcome-content
    %h1 About
    %p Need to manage people and inventory items they use?
    %p Trakit helps manage inventory catagories and specific items.

    %h1.btn= link_to "Let's track your stuff!", new_asset_path

