%footer
  .m-navbar
    %ul
      %li Behind the scenes
      %li= link_to "github", "https://github.com/woodall/trakIt"
      %li |
      %li= link_to "trello stories", "https://trello.com/board/trakit/513664f6bb46d3fd770053d4"
      %li |
      %li= link_to "hireDave", "https://github.com/woodall/trakIt"
