%ul.navbar-fixed-top
  / %li= link_to 'welcome', root_path
  / %li= link_to 'about', about_path
  %li= link_to 'users', users_path
  %li= link_to 'checkouts', checkouts_path
  %li= link_to 'bundles', bundles_path
  %li= link_to 'items', items_path