%h1 Step 2, pick your serial number

%table.table
  %tr
    %th Number
    %th Current User

  -@checkout.item.serial_numbers.each do |n|
    %tr
      %td= link_to n.number, edit_serial_number_path(n)
      %td= n.user.name unless n.user.nil?

