/ TODO - create a call back that saves user, so that it's assigned at step 2.

%h1 Step 2, pick your serial number

%table.table
  %tr
    %th Number
    %th Current User

  -@checkout.asset.serial_numbers.each do |serial_number|
    %tr
      %td= link_to serial_number.number, edit_serial_number_path(serial_number)
      %td= assigned_user_to_serial_number(serial_number) 

