- if @item.trackable?

  %h3 Serial Numbers
  %table.table
    %tr
      %th Number
      %th Date Created
      %th Warranty End
      %th Assigned to

    - @serials.each do |item|
      %tr
        %td= link_to item.number, edit_serial_number_path(item)
        %td= item.created_at.strftime('%B %e')
        %td= item.warranty_end
        %td= link_to_user(item)

