.m-bundle-form
  %h1 New bundle

  = render 'form'

  = link_to 'Back', bundles_path, class: "btn back-btn"
.m-bundle-description
  %h3 What is a bundle?
  %p Bundles are broad inventory categories. Examples: TV, Hard Drive, Laptop. This way you can view all of inventory based on the group.
