.row-fluid
  .span5
    %h1 New bundle

    = render 'form'

    = link_to 'Back', bundles_path, class: "btn back-btn"
  .span4
    %h3 What is a bundle?
    %p Bundles are broadinventory categories. Examples: TV, Hard Drive, Laptop. This way you can view all of inventory based on the group.
  .span3