.m-hero-image{
  @include span-columns(12);
}

.m-home-logo{
  width: 300px;
}

.m-header-logo{
  width: 200px;
  &:hover{
    @include transform(rotate(-9deg));
    @include transition (all 50ms ease-in-out);
  }
}

.m-welcome-container{
  background: white;
  overflow: auto;
  padding: 2%;
  box-shadow: 0px 1px 3px $grey-dark;
}

.m-about{
  @include span-columns(12);
}

.m-about-dave{
  @include span-columns(6);
  img.dave-bio{
    margin: 0 3px 0 0;
    &:hover{
      @include transform(rotate(4deg));
      @include transition (all 50ms ease-in-out);
  }
  }
}

.m-about-trakit{
  @include span-columns(6);
}

.m-signature{
  width: 150px;
  padding: 1% 0 4%;
  display: block;
}

.m-app-container{
  background: white;
  border-radius: 4px;
  padding: 5%;
  overflow: auto;
  box-shadow: 1px 1px 2px $grey-dark;
}

.m-navbar{
  ul{
    margin: 5px 0;
  }
  li{
    margin: 0 10px;
  }
  a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    &:hover{
      color: $green-light;
    }
  }
}

a.m-new-thing{
  color: $grey-dark;
  &:hover{
    color: white;
  }
}

.btn{
   @include button(shiny, $green-light);
   color: white;
   font-size: 1.1em;
   font-weight: 100;
   a{
    color: white;
   }
   &:visited{
    color: white;
  }
}


.btn-links{
  @include button(shiny, white);
  color: white;
  font-size: .8em;
}

.dave-bio{
  float: left;
  width: 150px;
}

.welcome-content{
  margin: 5%;
  background: $grey-light;
  padding: 2%;
}

.m-bundle-form{
  @include span-columns(5);
}